.choices {
    text-align: center;
}

.active-players {
    border-bottom: coral;
    padding: 15px 32px;
}

.lists {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.item {
    margin-left: 10px;
    margin-right: 10px;
}

#active-characters > div > button {
    margin-left: 15px;
}

#active-characters > div {
    width: 100%;
    margin: auto;
}

.valid-starting-point {
    background-color: limegreen;
}

