.choices {
    text-align: center;
}

.players {
    border-bottom: coral;
    padding: 15px 32px;
}

.lists {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

