.link, .button {
    font-family: sans-serif;
    display: inline-block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}

.choices {
    text-align: center;
}

.players {
    border-bottom: coral;
    padding: 15px 32px;
}

.characters {
    border-bottom: coral;
    padding: 15px 32px;
}

.characters li {
    background-color: aqua;
    margin-top: 5px;
}

.lists {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

