{% extends "base.html" %}
{% block styling %}
{% endblock styling %}
{% block content %}
<div>
    <div id="role-header">
        <h2>You are the {{ original_role }}</h2>
    </div>
</div>
<div id="role-div">
</div>
{% endblock content %}
{% block scripts %}
    <script src="/static/scripts/GameServices.js"></script>
    <script>
        window.initial_player_dict = {{ initial_player_dict | tojson }};
    </script>
    <script src="/static/scripts/{{original_role}}.js"></script>
    <script src="/static/scripts/Game_On.js" ></script>
{% endblock scripts %}
