{% extends "base.html" %}
{% block styling %}
{% endblock styling %}
{% block content %}
<div id="game-complete-container">
</div>
<a href="/lobby/{{access_token}}/player_id/{{player_id}}/" id="return-to-lobby"> Go back to lobby</a>
{% endblock content %}
{% block scripts %}
    <script src="/static/scripts/GameServices.js"></script>
    <script>
        window.gameCompleteDict = {{ game_complete_dict | tojson}};
    </script>
    <script src="/static/scripts/GameComplete.js"></script>
    <link href="/static/game_complete.css" rel="stylesheet">
{% endblock scripts %}