{% extends "base.html" %}
{% block styling %}
{% endblock styling %}
{% block content %}
<div id="game-complete">
    Game is complete!
</div>
<div>
    <a href="/lobby/{{access_token}}/player_id/{{player_id}}/"> Go back to lobby</a>
</div>
{% endblock content %}
{% block scripts %}
    <script src="/static/scripts/GameServices.js"></script>
    <script>
        window.gameCompleteDict = {{ game_complete_dict | tojson}};
    </script>
    <script src="/static/scripts/GameComplete.js"></script>
{% endblock scripts %}