{% extends "base.html" %}
{% block styling %}
<link href="/static/home_lobby.css" rel="stylesheet">

{% endblock styling %}
{% block content %}
<div>
    <div class="titles">
        {% if player_id|int %}
            {% if player_id|int in players %}
                <h1 class="werewolf"> {{players[player_id|int].name}}, You are in a lobby</h1>
            {% else %}
            <h1 class="werewolf"> {{spectators[player_id|int].name}}, You are spectating in a lobby</h1>
            {% endif %}
        {% else %}
        <h1 class="werewolf"> You are spectating in a lobby</h1>
        {% endif %}

        <h2>Lobby code: {{ access_token }}</h2>
    </div>
    <div class="choices" id="choices">
        <div>
            <form action="/start_game/" method="post">
                <button class="button" type="submit" id="start-game-button">
                    Start Game
                </button>
                <input type="hidden" value="{{access_token}}" name="access_token">
                {% if player_id|int %}
                <input type="hidden" value="{{player_id|int}}" name="player_id">
                {% else %}
                <input type="hidden" value="spectator" name="player_id">
                {% endif %}
            </form>
            <form action="/exit_lobby/" method="post">
                <button class="button" type="submit" id="exit-lobby">
                    Exit Lobby
                </button>
                <input type="hidden" value="{{access_token}}" name="access_token">
                {% if player_id|int %}
                <input type="hidden" value="{{player_id|int}}" name="player_id">
                {% else %}
                <input type="hidden" value="spectator" name="player_id">
                {% endif %}
            </form>
        </div>
        <form action="/change_time/" method="post">
            <input class="shown-input-field" placeholder="currently {{discussion_time}} min(s)" type="number" step="0.1" name="new_time" required>
            <button class="button" type="submit" id="discussion-time-button">
                Set discussion time
            </button>
            <input type="hidden" value="{{access_token}}" name="access_token" required>
            {% if player_id|int %}
            <input type="hidden" value="{{player_id|int}}" name="player_id">
            {% else %}
            <input type="hidden" value="spectator" name="player_id">
            {% endif %}
        </form>
        <div id="toggle-spectator"></div>
    </div>
    <div class="lists">
        <div class="players item">
            <h4>Players</h4>
            <div id="active-players"></div>
        </div>
        <div class="characters item">
            <h4>Characters</h4>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Add Character
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="characters-dropdown">
                    {% for character in werewolf_characters %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" id="{{character.value}}">{{character.value}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="active-characters">
                {% for character in active_characters %}
                <div>{{character}}</div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block scripts %}
    <script>
        window.initialPlayers = {{ players | tojson }};
        window.initialSpectators = {{ spectators | tojson }};
    </script>
    <script type="text/javascript" src="/static/scripts/GameServices.js"></script>
    <script type="text/javascript" src="/static/scripts/Lobby.js"></script>
    <link href="/static/home_lobby.css" rel="stylesheet">
{% endblock scripts %}
