{% extends "base.html" %}
{% block styling %}
<link href="/static/home_lobby.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock styling %}
{% block content %}
<div>
    <div class="titles">
        {% if player_id|int %}
            {% if player_id|int in players %}
                <h1 class="werewolf"> {{players[player_id|int].name}}, You are in a lobby</h1>
            {% else %}
            <h1 class="werewolf"> {{spectators[player_id|int].name}}, You are spectating in a lobby</h1>
            {% endif %}
        {% else %}
        <h1 class="werewolf"> You are spectating in a lobby</h1>
        {% endif %}

        <h2>Access code: {{ access_token }}</h2>
    </div>
    <div class="choices" id="choices">
        <form action="/start_game/" method="post">
            <button class="button" type="submit">
                Start Game
            </button>
            <input type="hidden" value="{{access_token}}" name="access_token">
            {% if player_id|int %}
            <input type="hidden" value="{{player_id|int}}" name="player_id">
            {% else %}
            <input type="hidden" value="spectator" name="player_id">
            {% endif %}
        </form>
        <div id="toggle-spectator"></div>
    </div>
    <div class="lists">
        <div class="players" id="players">
            <h4>Players</h4>
        </div>
        <div class="characters">
            <h4>Characters</h4>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Add Character
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="characters-dropdown">
                    {% for character in werewolf_characters %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" id="{{character.value}}">{{character.value}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="active-characters">
                {% for character in active_characters %}
                <div>{{character}}</div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block scripts %}
    <script>
        window.initialPlayers = {{ players | tojson }};
        window.initialSpectators = {{ spectators | tojson }};
    </script>
    <script src="/static/scripts/GameServices.js"></script>
    <script src="/static/scripts/Lobby.js"></script>
    <link href="/static/home_lobby.css" rel="stylesheet">
{% endblock scripts %}
