{% extends "base.html" %}
{% block styling %}
<link href="/static/home_lobby.css" rel="stylesheet">
{% endblock styling %}
{% block content %}
<div>
    <div class="titles">
        {% if player_id|int %}
        <h1 class="werewolf"> {{players[player_id|int].name}}, You are in a lobby</h1>
        {% else %}
        <h1 class="werewolf"> You are spectating in a lobby</h1>
        {% endif %}

        <h2>Access code: {{ access_token }}</h2>
    </div>
    <div class="choices" id="choices">
        <form action="/start_game/" method="post">
            <button class="button" type="submit">
                Start Game
            </button>
            <input type="hidden" value="{{access_token}}" name="access_token">
            {% if player_id|int %}
            <input type="hidden" value="{{player_id|int}}" name="player_id">
            {% else %}
            <input type="hidden" value="spectator" name="player_id">
            {% endif %}
        </form>
        <div id="toggle-spectator"></div>
    </div>
    <div class="lists">
        <div class="players" id="players">
            <h4>Players</h4>
        </div>
        <div class="characters">
            <h4>Characters</h4>
            {% for character in werewolf_characters %}
            <li id="{{character.value}}">
                {{ character.value }}
            </li>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}
{% block scripts %}
    <script> window.initialPlayers = {{ players | tojson }};</script>
    <script src="/static/scripts/GameServices.js"></script>
    <script src="/static/scripts/lobby.js"></script>
    <link href="/static/home_lobby.css" rel="stylesheet">
{% endblock scripts %}
